html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container-fluid{
  text-align: center;
  max-height: auto;
  max-width: 100%;
  margin-top: 0%;
}

.resources-header{
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-left: 0px;
  margin-top: 0px;
  background-color: black;
}

.resources-header h2, h4{
  font-family: "Poppins", sans-serif;
}

.resources-header h2{
  color: #f547f2;
  background-color: rgb(185,47,191);
  background-image: linear-gradient(90deg, rgba(185,47,191,1) 41%, rgba(95,202,216,1) 63%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.resources-header h4{
  color: #ffedff;
}

.filters{
  width: 100%;
  max-height: 10vh;
  font-size: 125%;
}

.resources{
  margin-left: 5%;
  margin-right: 5%;
}

.resources h5{
  padding-bottom: 3%;
  padding-top: 3%;
  border-bottom: 1px solid #a915cb;
}

.resource-section{
  border: 1px solid black;
  margin-left: 5%;
  margin-right: 5%;
}

.list-of-links{
  height: 50vh;
  overflow-x: auto;
  overflow-y: scroll;
  text-align: justify;
  margin-bottom: 5%;
}

/* Footer section */
.footer-section{
  width: 100%;
  height: 12%;
  background-color: black;
  margin-top: 2%;
  margin-bottom: 2%;
  max-width: 100%;
  padding-top: 0.5%;
  color: white;
}

.footer-section h6{
  margin-bottom: 0%;
}

.footer-section a{
  color: #5fcad8;
  text-decoration: none;
}

.footer-section a:hover{
  color: #a915cb;
  /* text-decoration: none; */
}
